.main {
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.cards__list {
    margin: 8rem 0 4rem 0;
}

.slider_s {
    position: relative;
    margin-bottom: 4rem;
}