*, ::after, ::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style-type: none;
}

:root {
  font-size: 14px;
  font-family: sans-serif;

  --header-height: 4rem;
  --footer-height: 6rem;

  --body-background: white;
  --body-color: black;
  --header-bg-color: #d12500;
  --footer-bg-color: #2c8fa4;
  --card-bg-color: white;
  --card-color: #126338;
}

[data-theme='dark'] {
  --body-background: #282c34;
  --body-color: white;
  --header-bg-color: rgb(0,21,41);
  --footer-bg-color: rgb(0,21,41);
  --card-bg-color: rgb(0,21,41);
  --card-color: white;
}

